header {
  width: 100%;
  background-color: skyblue;
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}
.nav-link {
  opacity: 1;
}
